/* The widget container */
.widget_random_posts {
}

/* The element which which contain each post */
.widget_random_posts .random-post {
}

/* The element which contains the link with the post title */
.widget_random_posts .post-title {
}

/* The link with the post title */
.widget_random_posts .post-title a {
}

/* The post date */
.widget_random_posts .post-date {
}

/* The element which contains the link to the post author */
.widget_random_posts .post-author {
}

/* The post author link itself */
.widget_random_posts .post-author a {
}

/* The link which contains the thumbnail image */
.widget_random_posts a.post-thumb {
}

/* The thumbnail image itself */
.widget_random_posts a.post-thumb img.thumbnail {
}
.widget_random_posts a.post-thumb img.alignleft { float: left; margin: 0 3px 3px 0; }
.widget_random_posts a.post-thumb img.alignright { float: right; margin: 0 0 3px 3px; }

/* The element which contains the excerpt paragraph */
.widget_random_posts .excerpt {
}

/* The excerpt paragraph it self */
.widget_random_posts .excerpt p {
}

/* The element which contains full content */
.widget_random_posts .content {
}

/* The element which contains the more link */
.widget_random_posts div.more-link {
}

/* The more link itself */
.widget_random_posts div.more-link a.more-link {
}

/* The clearing element */
.widget_random_posts .clear {
  clear: both;
}